body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    background: #a0a0a0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  h1,h2,h3,h4,h5,h6 {
    margin: 0;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  form {
    margin-top: 5px;
    width: 100%;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical; /* Allows only vertical resizing */
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
    width: 1.5em;
    height: 1.5em;
  }
  
  .card {
    border: 2px solid #4f4715;
    border-radius: 5px;
    padding: 5px;
    width: 19rem;
    max-width: 100%;
    background-color: #deddd5;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 2px;
    text-align: left;
  }
  
  input[name="unlabeledTextInput"] {
    font-weight: bold;
  }
  
  ul > li {
    display: flex;
    align-items: center;
  }
  
  #saveButton, #loadButton {
    position: sticky;
    top: 0;
    float: right;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
  }
  
  .card-mythos {
    border-color: #5d118f;
    background-color: #c9c0cf;
  }
  .card-logos {
    border-color: #8f241d;
    background-color: #f7dbda;
  }
  